.plant-info-card {
  max-width: 250px;
  background-color: #4caf50;
  color: white;
  border-radius: 16px;
  padding: 1.5rem;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.1);
  text-align: center;
  margin-left: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.plant-image {
  width: 100%;
  border-radius: 12px;
  margin-bottom: 1rem;
}

.plant-name {
  font-size: 1.5rem;
  font-weight: 700;
  margin-top: 0.25rem;
  margin-bottom: 1rem;
  color: #ffffff;
  font-family: 'Segoe UI', Roboto, sans-serif;
}

.plant-species {
  font-style: italic;
  margin-top: 0rem;
  margin-bottom: 1rem;
}

.plant-stat {
  font-size: 0.9rem;
  margin: 0.25rem 0;
}
